In [80]:
import pandas as pd
import numpy as np
import re

In [81]:
location = '/home/smitesh22/Data/Solar Irradiance/N09E078_wgs84.csv'

df = pd.read_csv(location, nrows=2, header=None)

# Display the resulting DataFrame
latitude = int(np.ceil(float(df[5][1])))
longitude = int(np.ceil(float(df[6][1])))

In [82]:
pattern = r'N(\d+)E(\d+)_wgs84.csv'

match = re.search(pattern, location)
if match:
    number1 = int(match.group(1))
    number2 = int(match.group(2))

In [98]:
# check if filename maches with latitude and longitude mentioned in the csv
assert latitude == number1
assert longitude == longitude

In [84]:
file = pd.read_csv(location,  skiprows=2)

In [85]:
#subset important attr
df = file[['GHI',
          'DHI',
          'DNI',
          'Clearsky DHI',
          'Clearsky DNI',
          'Clearsky GHI',
          'Temperature',
          'Relative Humidity']]

In [101]:
## Mean data of all data points
entry = df.describe().iloc[1].to_dict()

In [102]:
out = pd.read_csv('/home/smitesh22/Data/solar_irradiance.csv')

In [106]:
filename = re.search(r'/([^/]+)$', location).group(1)

In [ ]:
entry

In [105]:
row = pd.DataFrame([entry])

pd.concat([out, row], ignore_index=True)

,filename,GHI,DHI,DNI,Clearsky DHI,Clearsky DNI,Clearsky GHI,Temperature,Relative Humidity
0,NaN,239.76621,94.116096,196.171689,75.004338,282.933562,278.531735,28.153995,75.285919